{% extends 'base.html.twig' %}
{% block title %} Register {% endblock %}
{% block body %}
    {{ form_start(registrationForm) }}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Регистрация</h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{{ path('app_main') }}">Главная</a></li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Регистрация</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <form class="form Authorization" action="#" method="post">
                    <div class="row">
                        <div class="row-block">
                            <div class="form-group">
{#                                <label class="form-label" for="phone">Телефон</label>#}
{#                                <input class="form-input" id="phone" name="phone" type="text" placeholder="+70000000000" data-validate="require"/>#}
                                {{ form_row(registrationForm.telephone) }}
                            </div>
                            <div class="form-group">
{#                                <label class="form-label" for="username">Имя пользователя</label>#}
{#                                <input class="form-input" id="username" name="username" type="text" placeholder="Иван" data-validate="require"/>#}
                                {{ form_row(registrationForm.userName) }}
                            </div>
                            <div class="form-group">
{#                                <label class="form-label" for="email">E-mail</label>#}
{#                                <input class="form-input" id="email" name="mail" type="text" placeholder="send@test.test"/>#}
                                {{ form_row(registrationForm.email) }}
                            </div>
                            <div class="form-group">
{#                                <label class="form-label" for="password">Пароль</label>#}
{#                                <input class="form-input" id="password" name="password" type="password" placeholder="Выберите пароль"/>#}
                                {{ form_row(registrationForm.password) }}
                                {{ form_row(registrationForm._token) }}
                            </div>
                            <div class="form-group">
                                <button class="btn btn_primary" type="submit">Зарегистрироваться</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}